.container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: $color-primary;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        font-size: 2rem;
        line-height: 1.1;
        margin-bottom: 1rem;
        background-color: $color-primary-dark;
        color: $color-grey-light-1;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);

    &__title{
        font-size: 3rem;
        text-transform: uppercase;
        margin-top: 1rem;
    }
    &__sub{
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
}

.form{
    font-family: inherit;
    font-weight: 400;
    color: $color-grey-light-1;
    width: 55vh;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    ////////////// form divs
    & > *{            
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    ////////////// form label
        &__name--label,               
        &__surname--label,
        &__email--label{
            font-family: inherit;
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: .1rem;
            margin-left: 1rem;
        }
        
    ////////////// form input
        &__name--input,
        &__surname--input,
        &__email--input{       
            height: 3.2rem;
            font-family: inherit;
            font-size: 1.8rem;
            border: none;
            border-radius: .3rem;
            padding: 2.2rem 1rem;
            margin-bottom: .4rem;
            box-shadow: $shadow-dark;
               
            &::placeholder{
                font-size: 1.4rem;
            }
            
            &:focus{
                outline: none;
                background-color: rgba($color-grey-light-2, .8);
            }
        }

        ////////////// form number
        &__age{
            margin: .5rem 0;
            width: 96%;
            align-self: center;

            &--label{
                font-size: 2rem;
                margin-bottom: .25rem;
            }

            &--input{
                width: 100%;
                font-size: 1.5rem;
                padding: .5rem;
                border: none;
                border-radius: .3rem;
                box-shadow: $shadow-dark; 
                transition: all .2s;

                &:in-range{
                    border: 1px solid green;
                }
                &:out-of-range{
                    border: 1px solid red;
                }
            }
        }

        ////////////// procedure form-radio box
        &__procedure{
            align-self: center;
            width: 96%;

            &--title{
                font-size: 2rem;
            }
           
            &-box{
                display: flex;
                width: inherit;
                align-items: center;
                line-height: 1.6;

                &--input{
                    cursor: pointer;
                    min-width: 1.7rem;
                    min-height: 1.7rem;
                    margin-right: .4rem;
                    align-self: center;
                }
                
                &--label{
                    cursor: pointer;
                    font-size: 1.5rem;
                }
            }
        }

        ////////////// form selection
        &__info{
            width: 96%;
            align-self: center;
            margin-top: .5rem;
            margin-bottom: 1rem;

            &--label{
                font-size: 2rem;
            }

            &--select{
                font-size: 1.5rem;
                padding: .5rem;
                border: none;
                border-radius: .3rem;
                box-shadow: $shadow-dark;  
            }
        }

    ////////////// form checkbox
      &__papers{
        width: 96%;
        align-self: center;

        &--title{
            font-size: 2rem;
            line-height: 1.25;
            margin-bottom: .5rem;
        }

        &-box{
            display: flex;
            align-items: center;
            line-height: 1.7;


            &--label{
                font-size: 1.4rem;
                cursor: pointer;

            }

            &--input{
                cursor: pointer;
                min-width: 1.8rem;
                min-height: 1.8rem;
                margin-right: .4rem;
                align-self: center;
            }
        }
      }

    ////////////// form textarea

      &__textarea{
          margin-top: .5rem;
          width: 96%;
          align-self: center;

        &--label{
            font-size: 2rem;
            margin-bottom: .5rem;
            cursor: pointer;
        }

        &--input{
            resize: none;
            min-width: 100%;
            max-width: 100%;
            min-height: 15rem;
            padding-left: .5rem;
            padding-top: .25rem;
            border: none;
            border-radius: .3rem;
            scroll-behavior: smooth;
            box-shadow: $shadow-dark;
        }
      }

    ////////////// form button
    &__button{
        margin-left: 1rem;
        margin-top: 2rem;
        width: 50%;
        align-self: center;
        
        &--click{
            cursor: pointer;
            text-transform: uppercase;
            font-size: 1.6rem;
            color: $color-grey-light-1;
            background-color: $color-primary-dark;
            padding: 1rem 0;
            border: none;
            border-radius: .3rem;
            box-shadow: $shadow-dark;
            transition: all .2s;

            &:hover{
                transform: scale(1.05);
            }
        }
    }
}





































